VITE_SUPABASE_ANON_KEY="<Test Anon Key>"
VITE_SUPABASE_URL='http://127.0.0.1:54321'
VITE_POSTHOG_PROJECT_KEY="<Test PostHog Project Key>"
VITE_SENTRY_ENVIRONMENT="local"
VITE_SENTRY_DSN="<Sentry DSN>"

# Enable local dev auth bypass (fake user injection)
VITE_LOCAL_DEV_AUTH=true
